.shopping-list {
  margin-top: 20px;

  .shopping-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;

    &:last-child {
      border-bottom: none;
    }

    input[type="checkbox"] {
      margin-right: 10px;
      width: 18px;
      height: 18px;
      border: 1px solid black;
      border-radius: 4px;
      background: white;
    }

    h3 {
      margin: 0;
      flex: 1;
      color: #333;
      text-align: left;
    }

    input[type="number"] {
      width: 50px;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 4px;
      text-align: center;
      background: #f5f5f5;
      border: none;
      color: black; 
    }
  }
}
